<html>
    <head></head>
    <body>
        <main>
            <form method="post">
                <div>
                    <label for="Id">Id</label>
                    <input type="text" name="Id"/>
                </div>
                <div>
                    <label for="Nome">Nome</label>
                    <input type="text" name="Nome"/>
                </div>
                <div>
                    <label for="Idade">Idade</label>
                    <input type="number" name="Idade"/>
                </div>
                <div>
                    <label for="Data">Data</label>
                    <input type="date" name="Data"/>
                </div>
                <button type="submit" asp-controller="Home" asp-action="Criar">Criar</button>
                <button type="submit" asp-controller="Home" asp-action="Select">Select</button>
                <button type="submit" asp-controller="Home" asp-action="Remove">Remove</button>
                <button type="submit" asp-controller="Home" asp-action="Update">Update</button>
            </form>
        </main>
    </body>
</html>