@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Criar" method="post">
    <label for="Nome">Nome</label>
    <input type="text" name="Nome"/>

    <label for="Idade">Idade</label>
    <input type="number" name="Idade"/>

    <label for="Data">Data</label>
    <input type="date" name="Data"/>
    <button type="submit">Enviar</button>
</form>

