<html>
    <head></head>
    <body>
        <main>
            <form asp-action="Criar" method="post">
                <div>
                    <label for="Id">Id</label>
                    <input type="text" name="Id" disabled/>
                </div>
                <div>
                    <label for="Nome">Nome</label>
                    <input type="text" name="Nome"/>
                </div>
                <div>
                    <label for="Idade">Idade</label>
                    <input type="number" name="Idade"/>
                </div>
                <div>
                    <label for="Data">Data</label>
                    <input type="date" name="Data"/>
                </div>
                <button type="submit">Enviar</button>
            </form>
        </main>
    </body>
</html>